@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media (max-width: 407px){
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }      
    body{
    font-family: 'Poppins', sans-serif;
    background-image: url(https://lh3.googleusercontent.com/pw/ADCreHfppKTabuk6Ysu874BwIECk0oRAU21gCdlzcwZC7vF0x8DaTf83L94r8VkspOyDqHM6PNi8zgOvbakE_5gmdYmAGD7HtiN6Wnv1soa9HI0RoR2JvPjwK3KpiGZ_noAZCtMQNpMsahSDCGU0Y7ErKBNbc19ksD2Cgm8AOU0Ppjtg3q-LLRF8QRps2PPe-E6Pk2RJ03OAyPbdIfanNw-qO5xFlFttsqXaZgDjc9pEMdEilGayVF0DzTwJmeldj-o00lb9LUcHIxRWOhF3mVwd44x4ktdsZLXT24yfoH2ipj2eX2yUSXMkKH4QaeeW_w0fqJbAGSDQL4ppFGOIzF-L93VDCAXdvBT0tweiGMhHqImGcHnrhY3dSUwAW3vUCUR_cOejGVmsVBVnVjPsR78KE-3h17s0VquauljZ3rS8NZvsy4jWAqIFOgIK-Xng0kCBU1owQ97LpZQJurGW-THGJYKrm6A0yjiikliGrtomUPDqvMExgBmKS5zeH66zH4GyzGqo0jpTz3t_9vpCWa4zf6Qn4bjSktH2GKrbiIvcv6_JYEO_heaUmyvgtMxA4wI0XMmrnowi6m_oBy2cjgjMv3BJR2CMcQTVP1iguO49nTVBaRS4vCSvwX4n2pX0wki9ylFrskbU7R81Svrdd07Fg2AJyVNYoccCeT5MBoda304UYQ1s_gccD3hpnNsjHJ1iztoCJdJ8cEaTlJBpUPb6QKHVZ3G6MzyPJi2GN7nPzm58u791YZCoTx2rcjWuc7XNXyoYVAf2CznK2UDGsRdY09mCoMSVfCX2f-BKvSYKkTPu7utb526Tw9NcNzT7Kco7lWFWkADfZ-gXnaORVAfChb4uwe_cyaJUkm35BErDO2KYzSmyMB5FUpUn1AQvXCyRNJFljWJfD2e5SZOLVGYxfkqGUhA-H1tj4coB_4LIqRtm_XdR1qM=w297-h653-s-no?authuser=0);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .Container{
        background: #fff;
        margin: 60px;
        padding: 20px;
    }
    .Panel img{
        width: 70px;
        border-radius: 100px;
    }
}
