@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media (max-width: 407px){
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }      
    body{
    font-family: 'Poppins', sans-serif;
    background-image: url(https://lh3.googleusercontent.com/pw/ADCreHeah6DdsvAauj35dxhVajy5j9OV3AKFD3SqDpci0bEe6XXapt0G_f_XG2S-9E2MjTe8jb7cV-QjRwshsSZWdQRT3XZM5ogIsfe5cjMwodbwyRCPGY0fi33XxICb8eAADigHR-Wr-wSisayDSIYrmpDr_tnLMZ4Q3Mm36oACjlayGeIMQk1SaCnZ7pAtKcz_AGRpKmrRB-_38AfmYvy4fR1hW-yfUxzUDOhF3nOfgxCdNE9DbQlI5nmR4sXRRGd2A2PUsClpXEtQdOciyrUrXgW3v3wWJooG4LppMhpCb6EelHy3DdKfpSI38oD5MxCCieVGkSTWWPfcOTk22ssB8t-hevEczw4z8ORxcl0xUaz3S8unIw3twPLYdypfSXnPPum7cI4J_gVKLoPjBMXwYlfQ146AG-iOOu_m8AqHqwuu0P_TpcvYZzi9QttYSgdVJGjBUCAKdPHCfvT5fNGcKqmu9UilEnra1XfK9YkqD4KNZ7JA_ldaPEp1d4gNqlC8aWwh17dchNigzla0_Kp8W1o03cxPi1gyK5egPdjSuV0f1gs8-UT9IPo7s77RkjMHEMbA1hr_FqYCnlw6yvA_1-Jqub-lmpglEH-5ZlO8sP7awbFb2E7_Fns1e7gFn_QZkM2LCKcGKfSisA0v48ibR7ffhtzJLKa226m7PVu2ebMNDTe3ow9ggSxBrXwir9GqYjdPAz2dLkOhWT8y-v85vCUbFZoFPqk4yLjpVX0CT-XfhSSjL7zbXx1Gjuxy2DD7JAO29qUI0kYN_aZ54tt_r8XHCDDo0PyHsWUrz1KU40euzwkBm4jaVwfPkAIai-FmIguXoa3gPFo6Bs_5Hf2WZuh0Wo-8SUth7aJ7BVBa2IuNxIU9nLpzVdqUQG-baMtex8iEXcKCaCwOI1Z4kllN2o7MqNQ-TjkLFYzQxDBB1fX4uI-JAv4=w297-h653-s-no?authuser=0);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .Container{
        background: #c9c9c987;
        margin: 50px;
        margin-top: 85px;
        border-radius: 20px;
        backdrop-filter: blur(0.8rem);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;

    }
    .Panel img{
        width: 70px;
        border-radius: 100px;
    }
    .Panel{
        padding: 20px;  
        color: #ff0000;
    }
    .Panel2{
        padding: 20px;
    }
    .Panel3{
        text-align: center;
        padding: 10px;
    }
    .Panel3, h4{
        text-align: center;
        padding: 10px;
    }
    .button{
        padding: 15px;
        display: flex;
        justify-content: space-evenly;
    }
    .button a{
        color: aliceblue;
        background: #ff0000;
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 15px;
    }
    .button a:hover{
        background: #a20707;
        font-size: 17px;
    }
}
